/* Utility classes */
.text-primary {
    color: var(--text-primary);
}

html {
    font-family: "League Spartan", sans-serif;
}

button {
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: var(--main-background);
    padding: 50px 20px;
    max-width: 540px;
    margin: 0 auto;
    font-weight: 700;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__theme {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    column-gap: 10px;
}

/* Theme */

.theme__labels {
    width: 70px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
}

.theme {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 3px;
}

.theme-toggle {
    display: flex;
    flex-direction: column;
}

.theme-toggle__container {
    display: flex;
    align-items: center;
    background-color: var(--toggle-keypad-background);
    height: 30px;
    padding: 3px 10px;
    border-radius: 25px;
}

.theme-toggle__input {
    display: none;
}

.theme-toggle__option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.theme-toggle__input:checked+.theme-toggle__option {
    background-color: var(--key-background-equals);
}

/* Calculator */
.calculator {
    margin-top: 20px;
}

.calculator__display {
    background-color: var(--screen-background);
    padding: 30px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    min-height: 60px;
    align-items: center;
}

.calculator__result {
    font-size: 32px;
    text-align: center;
}

.calculator__keypad {
    background-color: var(--toggle-keypad-background);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.calculator__key {
    background-color: var(--key-background-dark);
    border: none;
    border-radius: 10px;
    color: var(--text-main-key);

    font-size: 36px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 800;
    box-shadow: 0 4px var(--key-shadow-dark);
    min-height: 60px;
}

.calculator__key:hover {
    opacity: 0.9;
}

.calculator__key:active {
    transform: translateY(2px);
    box-shadow: 0 2px var(--key-shadow-dark);
}

.calculator__key--del,
.calculator__key--reset {
    background-color: var(--key-background-accent);
    color: var(--text-function-key);
    box-shadow: 0 4px var(--key-shadow-accent);
    font-size: 20px;
}

.calculator__key--equals {
    background-color: var(--key-background-equals);
    color: var(--text-equals);
    box-shadow: 0 4px var(--key-shadow-equals);
    grid-column: span 2;
}

.calculator__key--reset {
    grid-column: span 2;
}